/* Style dla slideshowa */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border: 2px solid #C8AA6E;
    border-radius: 5px;
    overflow: hidden;
}

.slide {
    display: none;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

.caption {
    position: absolute;
    bottom: 0;
    background: rgba(10, 20, 40, 0.7);
    width: 100%;
    padding: 15px;
    color: #C8AA6E;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #C8AA6E;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(200, 170, 110, 0.8);
    color: #010A13;
}

.dots-container {
    text-align: center;
    padding: 15px 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #0A1428;
    border: 1px solid #C8AA6E;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #C8AA6E;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Style dla ocen i opinii */
.rating-opinions {
    padding: 10px;
    font-size: 14px;
    color: #E0C58F;
}